@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Poppins";
}
canvas{
    height: 300px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4em;
    background-color: white;
    box-shadow: 0 0 10px black;
}
nav label{
    margin-left: 5%;
    font-size: 1.5em;
    font-weight: bold;
}
nav img{
    height: 90%;
    margin-right: 5%;
}
#tabela-formulario{
    margin-top: 5em;
    font-size: 1em;
}
#mascara{
    display: none;
}
#imagemFinal{
    display: none;
}